BODY {
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	color : black;
	background-color : #E8F4FE;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif, sans-serif;
	font-size:13px;
	font-weight: normal;
}
table.user {
	background-color: #D6E6F9;
	width: 100%;
	font-family:Verdana,Arial,Helv;
	font-size:13px;
}

.BUT { 
   HEIGHT: 20px;   
   BORDER:1px solid #000000;
   TEXT-DECORATION:none;
   BACKGROUND-IMAGE:url(../graphics/butback.gif);
}

A {
	color : #000000;
}


TH.label {
	padding: 10px;
	margin-left: 10px;
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #D6E6F9;
	background-color: #006699;
	vertical-align: top
}

TH.label_hell {
	padding : 5px;
	margin-left : 10px;
	font-size : 13px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #000000;
    background-color : #D6E6F9;
  	vertical-align : top;
  	text-align : left;
}
TD.input {
	padding : 5px;
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
    background-color : #D6E6F9;
   	vertical-align : middle;
   	text-align : right;
   	font-size: 13px;
}

TD.input_links {
	padding: 5px;
	margin-left: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #D6E6F9;
	vertical-align: bottom;
	text-align: left;
	font-size: 13px;
}

TD.input_center {
	padding: 5px;
	margin-left: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #D6E6F9;
	vertical-align: bottom;
	text-align: center;
	font-size: 13px;
}

TD.input_mitte {
    padding : 5px;
    margin-left : 10px;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    color : #000000;
    background-color : #D6E6F9;
    vertical-align : middle;
    text-align : left;
    font-size: 13px;
}

TD.spacer {
	padding : 5px;
	margin-left : 10px;
    background-color : #D6E6F9;
   	vertical-align : top;
   	font-size: 50%;
}
TD.erlaeut2 {
	padding : 5px;
	margin-left : 5px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
    background-color : #D6E6F9;
   	vertical-align : top;
   	font-size: 13px;
}
TD.erlaeut {
	padding : 5px;
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
    background-color : #D6E6F9;
   	vertical-align : top;
   	font-size: 13px;
}
TD.erlaeut_white {
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
    background-color :  #D6E5F8;
   	vertical-align : top;
   	font-size: 13px;
}
TD.login {
	padding : 5px;
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
   	vertical-align : top;
   	font-size: 13px;
}
.tabcap {
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color : #D6E6F9;
	background-color : #6699CC;
	font-size : 13px;
	font-weight : bold;
	padding : 5px;
	padding-top:1px; 
	padding-bottom:1px;
}

INPUT {
	font-family : Verdana,Arial,Helv;
	font-size : 8pt;
	color : #000000;
}

TD.erlaeut_fett {
	padding : 5px;
	margin-left : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #000000;
	background-color : #D6E6F9;
    vertical-align : top;
    font-size : 13px;
	font-weight : bold;
}


TABLE.normal {
	width : 100%;
}
CAPTION.cap {
	width : 100%;
	padding : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : black;
    background-color : #E8FDFD;
	font-size : 11pt;
	font-weight : bold;
}

H1{
  color : #D6E6F9;
  text-align : center;
  border-left-color: #996666;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  ;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width : 0px;
  background-color : #006699;
}
H2{
  color : #006699;
  text-align : center;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size : 25px;
}
H3{
  color : #006699;;
  text-align : center;
  border-left-color: #996666;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width : 0px;
}
H3.info_center{
  color : #006699;
  text-align : center;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width : 0px;
}
.inv{
  color : #D6E6F9;
  text-align : left;
  background-color : #006699;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 13px;
  width: 100%;
}
.inv2{
  color : #D6E6F9;
  text-align : left;
  background-color : #006699;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 13px;
  width: 100%;
  font-weight: bold; 
}
H4{
  color : #006699;
  text-align : center;
  border-left-color: #996666;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width : 0px;
}
H5{
  color : #006699;
  text-align : center;
  border-left-color: #996666;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width : 0px;
}

HR{
  height: 3px;
}
#erlauet{
  color : #006699;
  text-align : left;
  border-left-color: #996666;
  padding: 5px 5px 5px 5px;

}
#darkblock{
  background-color : #99CCFF;
  text-align : left;
  padding : 5px 5px 5px 5px;
font-size : 13px;
}
#lightblock{
  background-color : #D6E6F9;
  text-align : left;
  padding : 5px 5px 5px 5px;
font-size : 13px;
}
.versiontext { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 6pt; 
	color: #6b6b6b;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    padding-right : 5px;
}
.navitext { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: bold; 
	color: #000000;
    font-style: normal;
    text-decoration: underline;
}
.navitext:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: bold; 
	color: black;
    font-style: normal;
    text-decoration: underline;  
}
a.pagelinks { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #000000;
}
a.pagelinks:hover {
	color: gray;
}

a.menulinks { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: normal; 
	color: #000000;
    font-style: normal;
    text-decoration: underline;            
}
a.menulinks:hover { 
    text-decoration: underline;              
}
.link_dbx
{  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;  
    text-decoration: underline;
	color: #000000;
}
.link_dbx:hover 
{  
    color: #000000; 
    text-decoration: underline;
}	
.link_nav
{  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    text-decoration: underline;
	color: #000000;
}

.link_nav:hover 
{  
    color : gray;
    text-decoration: underline;
}

.link
{  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    text-decoration: underline;
	color: #D6E5F8;
}

.link:hover 
{  
    color: white; 
}

.link_fett
{  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    text-decoration: underline;
	color: #D6E5F8;
}
.link_fett:hover 
{  
    color: #000000; 
    text-decoration: underline;
}
.header { font-family:Verdana,Arial,Helv; font-size:12px; margin-left:5px; font-weight:bold; text-decoration:none; color:#D6E5F8;}

/* Definitionen für die Meldungen (hostmeld.inc) */
.meld {
background-color: white;
color : black;
padding: 5px;
margin: 2px;
margin-bottom: 10px;
border: 6px solid;
}
.ok {
border-color: #199919;
}
.fehler {
border-color: #ff4c4c;
}
.hinweis {
border-color: #003399;
}
.fehlerfeld {
color: red;
font-weight: bolder;
}

#tabheader {
	color : #D6E6F9;
	background-color : #6699CC;
	font-size : 13px;
	font-weight : bold;
	padding : 5px;
	padding-top:1px; 
	padding-bottom:1px;		
}
#tab {
	background-color : #D6E6F9;
	margin-top: 2px;
	padding : 5px;
}


/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/simple_vertical.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

/* Add a margin - for this demo only - and a relative position with a high z-index to make it appear over any element below */
#menu_container {width:100%; height:22px; z-index:100; background-color: #cccccc;}

/* Get rid of the margin, padding and bullets in the unordered lists */
#pmenu, #pmenu ul {padding:0; margin:0; list-style-type: none;}

/* Set up the link size, color and borders */
#pmenu a, #pmenu a:visited {display:block; font-size:10pt; color:#000000; text-decoration:none; text-indent:5px;
							border:1px solid; border-width:1px 0 1px 1px;  border-bottom-color: gray; border-top-color: white; 
							border-left-color: white; border-right-color: gray;
							min-height:20px;
							line-height:20px;
							height:20px;
  							height:auto !important;
						   }

/* Breitenangaben mit child selector: funkt nicht mit IE < 7. */
#pmenu > li > ul a {width:170px;} /* LVL 1 Diese Selektion haut im IE6 nicht hin */
#pmenu > li > ul > li > ul a {width:200px;} /* LVL 2 Diese Selektion haut im IE6 nicht hin */
/* Breitenangaben ohne child selector: für IE6 */
#pmenu * a { width:100px; }
#pmenu * * a { width:200px; }

/* Set up the sub level borders */
#pmenu li ul li a, #pmenu li ul li a:visited {border-width:0 1px 1px 1px;}
#pmenu li a.enclose, #pmenu li a.enclose:visited {border-width:1px;}

/* Set up the list items */
#pmenu li {float:left; background:#cccccc;} /* orig: #7484ad;*/

/* For Non-IE browsers and IE7 */
#pmenu li:hover {position:relative;}
/* Make the hovered list color persist */
#pmenu li:hover > a {background:#006699; color:#ffffff;} /* orig: #dfd7ca;*/
/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#pmenu li ul {display:none;}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#pmenu li:hover > ul {display:block; position:absolute; top:-11px; left:80px; padding:10px 30px 30px 30px; background:transparent url('../graphics/transparent.gif'); width:120px;}
/* Position the first sub level beneath the top level liinks */
#pmenu > li:hover > ul {left:-30px; top:12px;}

/* get rid of the table */
#pmenu table {position:absolute; border-collapse:collapse; top:0; left:0; z-index:100; font-size:1em;}

/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {position:relative; background:#006699; color:#ffffff;} /* IE6: aktiv wenn Link hoovert */

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {background:#006699; color:#ffffff;} /* IE6: aktiv wenn Link hoovert */

/* Set up the pointers for the sub level indication */
#pmenu li.fly {background:#cccccc url('../graphics/fly.gif') no-repeat right center;}  /* orig: #7484ad;*/
#pmenu li.drop {background:#cccccc url('../graphics/drop.gif') no-repeat right center;}  /* orig: #7484ad;*/


/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

/* change the drop down levels from display:none; to visibility:hidden; */
* html #pmenu li ul {   visibility:hidden; display:block; position:absolute; top:-11px; left:80px; padding:10px 30px 30px 30px; background:transparent url('../graphics/transparent.gif');}

/* keep the third level+ hidden when you hover on first level link */
#pmenu li a:hover ul ul{
visibility:hidden;
}
/* keep the fourth level+ hidden when you hover on second level link */
#pmenu li a:hover ul a:hover ul ul{
visibility:hidden;
}
/* keep the fifth level hidden when you hover on third level link */
#pmenu li a:hover ul a:hover ul a:hover ul ul{
visibility:hidden;
}
/* keep the sixth level hidden when you hover on fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul ul {
visibility:hidden;
}

/* make the second level visible when hover on first level link and position it */
#pmenu li a:hover ul {
visibility:visible; left:-30px; top:14px; lef\t:-31px; to\p:15px;
}

/* make the third level visible when you hover over second level link and position it and all further levels */
#pmenu li a:hover ul a:hover ul{ 
visibility:visible; top:-11px; left:80px;
}
/* make the fourth level visible when you hover over third level link */
#pmenu li a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}
/* make the fifth level visible when you hover over fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}
/* make the sixth level visible when you hover over fifth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul { 
visibility:visible;
}
/* If you can see the pattern in the above IE5.5 and IE6 style then you can add as many sub levels as you like */

@media print {
  #menu_container, #hd, #np {display: none;}
  #div_teiln {min-width: 20%;}
  h1, h2, h3, h4, h5 {color: black;}
}
