/* 
Document   : main
Created on : 27.02.2009, 10:24:41
Author     : clemens
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 16px;
}

.disabled {
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.4;
}

.box {
    margin-top: 10px;
    color: #292929;
    width: 250px;
    border: 1px solid #BABABA;
    background-color: #ddd;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 1em;
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}