<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Copyright 2008 Federal Chancellery Austria and Graz University of
		Technology Licensed under the Apache License, Version 2.0 (the
		"License"); you may not use this file except in compliance with the
		License. You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
<web-app id="bkuonline" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>http-security-layer-request</display-name>

	<!--  Begin Spring Config -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--  End Spring Config -->

	<!--  Begin BKU Config -->
	<listener>
		<listener-class>at.gv.egiz.bku.online.webapp.SessionTimeout</listener-class>
	</listener>
	<servlet>
		<servlet-name>BKUServlet</servlet-name>
		<servlet-class>at.gv.egiz.bku.online.webapp.BKURequestHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResultServlet</servlet-name>
		<servlet-class>at.gv.egiz.bku.online.webapp.ResultServlet</servlet-class>
		<init-param>
			<param-name>responseEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>expiredPage</param-name>
			<!-- FIXME -->
			<param-value>expired.html</param-value>
		</init-param>
	</servlet>
    <servlet>
        <servlet-name>BKUApplet</servlet-name>
        <jsp-file>/appletPage.jsp</jsp-file>
    </servlet>
    <servlet>
      <servlet-name>help</servlet-name>
      <jsp-file>/help.jsp</jsp-file>
    </servlet>
	<servlet-mapping>
		<servlet-name>BKUServlet</servlet-name>
		<url-pattern>/http-security-layer-request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BKUServlet</servlet-name>
		<url-pattern>/https-security-layer-request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/bkuResult</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
      <servlet-name>help</servlet-name>
      <url-pattern>/help/*</url-pattern>
    </servlet-mapping>

	<!--  End BKU Config -->

	<!--  Begin STAL Config -->
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>STALPort</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>STALPort</servlet-name>
		<url-pattern>/stal</url-pattern>
	</servlet-mapping>
	<!--  End STAL Config -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
</web-app>