<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2011 by Graz University of Technology, Austria
  MOCCA has been developed by the E-Government Innovation Center EGIZ, a joint
  initiative of the Federal Chancellery Austria and Graz University of Technology.

  Licensed under the EUPL, Version 1.1 or - as soon they will be approved by
  the European Commission - subsequent versions of the EUPL (the "Licence");
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  http://www.osor.eu/eupl/

  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.

  This product combines work with different licenses. See the "NOTICE" text
  file for details on the various modules and licenses.
  The "NOTICE" text file is part of the distribution. Any derivative works
  that you distribute must include a readable copy of the "NOTICE" text file.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="bkuonline" version="2.5">
	<display-name>MOCCA Online</display-name>
	<listener>
		<listener-class>at.gv.egiz.bku.online.webapp.MoccaContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<!--
			You may specify your configuration resource below. Please do not
			remove the the configurationResource parameter if not used, but set
			it to an empty value.
		-->
		<param-name>configurationResource</param-name>
		<param-value></param-value>
	</context-param>
	<listener>
		<listener-class>at.gv.egiz.bku.online.webapp.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<!--
			This servlet accepts HTTP(S) Security Layer requests and redirects to
			UIServlet.
		-->
		<servlet-name>HTTPSecurityLayerServlet</servlet-name>
		<servlet-class>at.gv.egiz.bku.online.webapp.WebRequestHandler</servlet-class>
		<init-param>
			<param-name>protocol</param-name>
			<param-value>HTTP</param-value>
		</init-param>
		<init-param>
			<!--
				The user interface url the browser will be redirected to
			-->
			<param-name>uiRedirectUrl</param-name>
			<param-value>ui</param-value>
		</init-param>
	</servlet>
	<servlet>
		<!--
			This Servlet handles user interaction. In fact it merely sets some
			request attributes and hands over (forwards) to the requested uiPage
			(e.g. applet.jsp).
		-->
		<servlet-name>UIServlet</servlet-name>
		<servlet-class>at.gv.egiz.bku.online.webapp.UIServlet</servlet-class>
		<init-param>
			<!--
				The uiPage parameter below specifies the default uiPage, which is
				used if no specific page was requested.
			-->
			<param-name>uiPage</param-name>
			<param-value>applet.jsp</param-value>
		</init-param>
		<init-param>
			<!--
				If no protocol specific request (e.g. http security layer request)
				is associated with the request to this servlet, a temporary redirect
				to the URL given below is sent to the browser.
			-->
			<param-name>expiredPageUrl</param-name>
			<param-value>expired.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ResultServlet</servlet-name>
		<servlet-class>at.gv.egiz.bku.online.webapp.ResultServlet</servlet-class>
		<init-param>
			<param-name>responseEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<!--
				If no protocol specific request (e.g. http security layer request)
				is associated with the request to this servlet, a temporary redirect
				to the URL given below is sent to the browser.
			-->
			<param-name>expiredPageUrl</param-name>
			<param-value>expired.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<!--
		 STAL Web Service
		-->
		<servlet-name>STALService</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--	<servlet>-->
	<!--		<servlet-name>SAMLServlet</servlet-name>-->
	<!--		<servlet-class>at.gv.egiz.bku.online.webapp.WebRequestHandler</servlet-class>	-->
	<!--		<init-param>-->
	<!--			<param-name>protocol</param-name>-->
	<!--			<param-value>SAML</param-value>-->
	<!--		</init-param>-->
	<!--	</servlet>-->
	<!--	<servlet>-->
	<!--		<servlet-name>DataURLServlet</servlet-name>-->
	<!--		<servlet-class>at.gv.egiz.mocca.id.DataURLServerServlet</servlet-class>	-->
	<!--	</servlet>-->
	<servlet-mapping>
		<servlet-name>HTTPSecurityLayerServlet</servlet-name>
		<url-pattern>/http-security-layer-request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTTPSecurityLayerServlet</servlet-name>
		<url-pattern>/https-security-layer-request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UIServlet</servlet-name>
		<url-pattern>/ui</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>STALService</servlet-name>
		<url-pattern>/stal</url-pattern>
	</servlet-mapping>
	<!--	<servlet-mapping>-->
	<!--		<servlet-name>SAMLServlet</servlet-name>-->
	<!--		<url-pattern>/moccaid</url-pattern>-->
	<!--	</servlet-mapping>-->
	<!--	<servlet-mapping>-->
	<!--		<servlet-name>DataURLServlet</servlet-name>-->
	<!--		<url-pattern>/DataURLServer</url-pattern>-->
	<!--	</servlet-mapping>-->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<!-- 
	Servlet Filter for Request/Session tracking.
	 -->
	<filter>
		<filter-name>RequestIdFilter</filter-name>
		<filter-class>at.gv.egiz.bku.online.webapp.TransactionIdFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestIdFilter</filter-name>
		<servlet-name>HTTPSecurityLayerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestIdFilter</filter-name>
		<servlet-name>UIServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestIdFilter</filter-name>
		<servlet-name>ResultServlet</servlet-name>
	</filter-mapping>
</web-app>
